:8888 {
    log
    root * /home/hypernet
    reverse_proxy :3000

    handle_path /proxy/8000/* {
        reverse_proxy http://localhost:8000
    }
    handle_path /proxy/5000/* {
        reverse_proxy  http://localhost:5000
    }

    import /tmp/hashpass.txt
}
